/* กำหนดค่าหลักสำหรับเว็บ */
body {
    font-family: 'Kanit', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}


/* กำหนดสไตล์ของ container */
#container {
    display: flex;
    justify-content: space-between;
    margin: 5% 2% 0 10%;
}

/* กำหนดสไตล์ของโปรไฟล์ */
#profile {
    flex: 0;
    padding: 20px;
    background-color: #ececec;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
}


#profile label, #profile input, #profile select {
    display: block;
    margin-bottom: 10px;
}

/* กำหนดสไตล์ของข้อมูลส่วนตัว */
#about {
    font-size: 20px;
    position: relative;
}

#about a {
    position: absolute;
    top: 0;
    right: 0;
    color: #097bbf;
}

/* กำหนดสไตล์ของการแสดงผลข้อมูล */
.card {
    padding: 15px 30px 30px 30px;
    background-color: #ececec;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}

.card p {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: #0e141e;
}

.card a {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
    padding: 0;
    border: 0;
    height: auto;
    background: transparent;
    color: #097bbf;
    outline: none;
    cursor: pointer;
}

.card ul {
    list-style-type: none;
}

/* กำหนดสไตล์ของตำแหน่งทางวิชาการ */
#ar {
    font-size: 18px;
    margin-top: 20px;
}

#ar_id {
    font-size: 16px;
}

/* กำหนดสไตล์ของประวัติการศึกษา */
.card ul li {
    margin-bottom: 10px;
}

/* กำหนดสไตล์ของปุ่มลบ */
.cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* สไตล์ของประวัติการศึกษาเพิ่ม */
form table {
    border-collapse: collapse;
}

form table td {
    padding: 5px;
}

/* กำหนดสไตล์ของสไตล์ปุ่มเพิ่ม */
input[type="submit"] {
    background-color: #097bbf;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #085d97;
}