.card {
    background-color: #EFECEC;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.card-title {
    font-family: "Kanit";
    margin: 0;
}

.card-text {
    color: black;
    font-family: "Kanit";
}

.button1 {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #771111;
    border-radius: 5px;
    font-family: Kanit;
}

.button1:hover {
    background-color: #CD3333;
}

.top_content {
    margin-top: 30px;
    text-align: center;
}

#searchInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    font-family: Kanit;
}

.block_alumni {
    margin: 0 auto;
    max-width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}