/* ลบสีพื้นหลังของรายการนำทาง */
.top-nav li {
    background: none;
    border-bottom: 4px solid #a41212;
    float: left;
    font-size: 10px;
    height: 40px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    width: 12.5%;
    font-family: 'Kanit', sans-serif;
}

/* ปรับแต่งสไตล์ของลิงก์ */
.top-nav li a {
    color: #aa1818;
    padding-top: 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

/* เพิ่มไอคอนให้กับลิงก์ */
.top-nav li a i {
    margin-right: 5px;
}

/* เปลี่ยนสีของลิงก์เมื่อ hover */
.top-nav li a:hover {
    color: rgb(245, 178, 33);
}

/* ปรับแต่งสไตล์ของเมนูแบบหลายระดับ */
.top-nav .submenu {
    margin-top: 0px;
    display: none;
}

.top-nav li:hover .submenu {
    display: block;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
}

.top-nav .submenu li {
    display: block;
    background-color: #a41212;
    width: 150px;
    font-family: 'Kanit', sans-serif;
}

.top-nav .submenu li a {
    padding: 2px;
    color: #fff;
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
}